/* GLOBAL */
body {
    margin: 0;
    background: #121212;
    font-family: "Poppins", sans-serif;
    color: #f5f5f5;
}

/* NAVBAR */
.navbar {
    background: #000000;
    padding: 15px 25px;
    color: #d4af37; /* GOLD */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #222;
}

.nav-right {
    display: flex;
    gap: 12px;
}

.nav-btn {
    background: transparent;
    color: #d4af37;
    border: 1px solid #d4af37;
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.nav-btn:hover {
    background: #d4af37;
    color: #000;
}

/* TABS */
.tabs {
    display: flex;
    justify-content: center;
    gap: 10px;
    background: #000;
    padding: 12px;
    border-bottom: 1px solid #2a2a2a;
}

.tab {
    padding: 8px 18px;
    border-radius: 25px;
    border: 1px solid #d4af37;
    background: transparent;
    color: #d4af37;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s;
}

.tab:hover {
    background: #d4af37;
    color: #000;
}

/* MENU GRID */
.menu-grid {
    padding: 25px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

/* CARD */
.card {
    background: #1a1a1a;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    transition: 0.25s;
    text-align: center;
    border: 1px solid #2f2f2f;
}

.card:hover {
    transform: scale(1.04);
    border-color: #d4af37;
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    display: block;
}

/* TEXT */
.card h4 {
    color: #ffffff;
    margin: 12px;
}

.card p {
    margin: 0 12px;
    color: #cfcfcf;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #d4af37;
    margin: 12px;
}

/* ADD BUTTON */
.actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.add {
    padding: 8px 14px;
    background: #d4af37;
    color: #000;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.add:hover {
    background: #f1d784;
}

/* FLOATING CART */
.floating-cart {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 260px;
    background-color: #1a1a1a;
    border: 1px solid #3a3a3a;
    border-radius: 14px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.6);
    padding: 15px;
    z-index: 1000;
    color: #fff;
}

.floating-cart h4 {
    margin-top: 0;
    color: #d4af37;
    font-weight: 600;
}

.confirm-btn {
    background-color: #d4af37;
    color: #000;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
    transition: 0.2s;
}

.confirm-btn:hover {
    background-color: #f2d78d;
}
